body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wrap-1{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: center;
  align-items: center;
}

.translated{
  margin: 20px;
}

.form-control{
  margin: 20px;
  width: 18vw;
}

.lang-wrap{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

select{
  height: 30px;
}

.para{
  margin: 15px;
}

.left, .right{
  display: flex;
  flex-direction: row;
  align-items: center;
}